SECRET_KEY=attendx-secret-key-hackathon-2026
FLASK_ENV=development
DB_NAME=attendx
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
PORT=5000
# DATABASE_URL=mysql+pymysql://root:password@localhost/attendx
